.header {
  position: sticky;
  top: 0;
  background: $bg;
  z-index: 1;

  nav {
    height: 7rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  &__cta {
    font-size: $font-md;

    img {
      height: 2rem;
    }
  }

  &__logo {
    height: 100%;
  }

  &__links {
    a {
      position: relative;
      padding: 0 0.7rem;
      font-family: $poppins;
      font-size: $font-md;
      text-align: center;

      &:last-of-type {
        margin-right: 1rem;
      }

      &::before {
        content: "";
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        left: 0;
        right: 0;
        bottom: -11px;
        background: lighten($color: $tertiary, $amount: 20%);
        opacity: 0;
        transition: opacity 150ms ease-in-out;
      }

      &:hover {
        &::before {
          opacity: 1;
        }
      }
    }
  }
  // Mobile menu toggle
  &__toggle {
    > span {
      display: block;
      width: 1.625rem;
      height: 0.2rem;
      background-color: $secondary;
      transition: all 200ms ease-in-out;
      transform-origin: 1px 2px;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }

  .overlay {
    position: fixed;
    top: 7rem;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background: linear-gradient($tertiary, transparent);
  }

  // Hamburger open styles
  &.open {
    .overlay {
      display: block;
    }

    .header__toggle {
      > span:first-child {
        transform: rotate(45deg);
      }

      > span:nth-child(2) {
        opacity: 0;
      }

      > span:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  // Mobile menu
  &__menu {
    background: $bg;
    position: absolute;
    width: calc(100% - 6rem);
    margin-top: 1rem;
    padding: 1.625rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;

    a {
      display: block;
      padding: 0.625rem;
      text-align: center;
    }
  }
}
