.hero {
  position: relative;

  .container {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  &::before {
    content: "";
    background-image: url("/img/bg-login.jpg"),
      linear-gradient(180deg, $secondary, $bg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-blend-mode: screen;
    position: absolute;
    height: 100%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
  }

  &__text {
    position: relative;

    h1, p {
      text-align: center;
    }
    p {
      font-size: $font-lg;
      max-width: 25rem;
    }
  }

  &__video {
    position: relative;
    border: 0;
    width: 560px;
    height: 315px;
  }
}
