// Colors
$bg: #ffffff;
$primary: #000000; // Text
$secondary: #1933e3; // Headings, Nav, Links
$tertiary: #4420cd; // Icons

// Fonts
$poppins: "Poppins", sans-serif;
$roboto: "Roboto", sans-serif;

$font-lg: 1.5rem; // 24px
$font-md: 1.25rem; // 20px
